body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
   
}

/* Style from Test */
#holder{
    border-width: 5px;
    width: 1000px;
    height: 750px;
    border-color: #333;
    
    border-width: 2px;
    align-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
    
    #target{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    
    }
    #button{
        background-color: blue;

    }
   
    #login{
        background-color: aliceblue;
        height: 200px;
        width: 400px;
        margin-left: 1%;
        margin-right: 1%;
        border: #333;
        border-width: 2px;
    }

    #signUp{
        background-color: aliceblue;
        height: 200px;
        width: 400px;
        margin-left: 1%;
        margin-right: 1%;
        border: #333;
        border-width: 2px;
    }


/* ____________________________________ */